body {
  font-size: 18px;
  font-family: sans-serif;
  margin: 30px 0;
  text-decoration: none;
}

.body-wrapper, .title-wrapper {
  margin: 0 auto;
  text-align: center;
}

.title-wrapper a{
  font-size: 32px;
  font-family: sans-serif;
  color: #B22222;
  text-decoration: none;
}

.body-wrapper {
  font-size: 18px;
  font-family: sans-serif;
  height: 400px;
}

.body-wrapper a {
  text-decoration: none;
}

.link-wrapper {
  margin-top: 25px;
  float: left;
  font-size: 14px;
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.link-wrapper a {
  display: inline-block;
  margin: 5px 0;
}

#user-id, #user-pwd {
  display: inline-block;
  padding: 5px;
  margin: 3px 0;
}

label {
  display: inline-block;
  width: 120px;
  text-align: right;
}

.btn-submit {
  margin-top: 5px;
  height: 30px;
  font-size: 14px;
}

/* Content */
.content-wrapper {
  margin-top: 15px;
  float: left;
  font-size: 14px;
  height: 100%;
  width: 75%;
  text-align: center;
  vertical-align: middle;
}

.content-wrapper table {
  margin: 0 auto;
}

.content-wrapper th {
  padding: 5px 10px;
  background: #D3D3D3;
}

.content-wrapper tr {
  font-size: 14px;
  text-align: center;
}

/* TOP MENU */
.top-menu {
  font-size: 15px;
  background: black;
  text-align: center;
}

.top-menu ul {
  margin: 0;
  margin-top: 15px;
}

.top-menu li {
  display: inline-block;
  padding: 10px 15px;
}

.top-menu a {
  color: white;
  text-decoration: none;
}

.top-menu a:hover {
  color: #D3D3D3;
  transition: all .4s ease;
}

/* SIDE BAR */
.side-menu {
  background: gray;
  display: block;
  float: left;
  width: 15%;
}

.side-menu ul {
  font-size: 13px;
  list-style: none;
  padding: 0;
}

.side-menu li {
  padding: 5px 0;
}

.side-menu a {
  color: white;
  padding: 5px 10px;
  width: auto;

}

.side-menu a:hover {
  background: black;
  transition: all .4s ease;
}
